@white:#fff;
@green:#04be02;
@red:#bc2826;
@yellow:#e4bb91;
@blue:#0092db;
@gray:#424242;
@lightgray:#f9f9f9;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    line-height: 1.5;
}
input,button{
    border: none;
    outline: none;
    background: none;
    -webkit-appearance: none;
}
.generate-fz (@n,@i:10) when (@i<=@n){
    .v-fz-@{i}{
        font-size: 1px * @i!important;
    }
    .generate-fz(@n,(@i + 1));
}
.generate-fz(22);
/*列布局*/
.generate-col(@n,@i:1) when (@i<=@n){
    .v-col-@{i}{
        width:100% * (@i / @n);
    }
    .generate-col(@n,(@i + 1));
}
.generate-col(12);
[class*="v-col-"]{
    float: left;    
}
.v-white{
    color:@white!important;
}
.v-green{
    color:@green!important;
}
.v-red{
    color:@red!important;
}
.v-yellow{
    color:@yellow!important;
}
.v-blue{
    color:@blue!important;
}
.v-gray{
    color:@gray!important;
}
.v-lightgray{
    color:@lightgray!important;
}
.v-bg-white{
    background-color: @white!important;
}
.v-bg-red{
    background-color: @red!important;
}
.v-bg-green{
    background-color: @green!important;
}
.v-bg-yellow{
    background-color: @yellow!important;
}
.v-bg-blue{
    background-color: @blue!important;
}
.v-bg-gray{
    background-color: @gray!important;
}
.v-bg-lightgray{
    background-color: @lightgray!important;
}
.hidden{
    display: none !important;
}
.flex{
    display: flex;
}
.f-wrap{
    .flex;
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
}
.clearfix {
  display: block;
  zoom: 1;
  &:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
.f-w(@type:left,@width:100%){
    float: @type;
    width: @width;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.hv-cen{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.h-cen{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.v-cen{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.just-cont(@type:center){
    justify-content: @type;
}
.align-items(@type:center){
    align-items: @type;
}
.just-center{
    .just-cont(center);
}
.just-between{
    .just-cont(space-between);
}
.just-around{
    .just-cont(space-around);
}
.align-center{
    .align-items;
}

.ellipsis{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.multi-ellipsis(@line:2){
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: @line;
    text-overflow: ellipsis;
    overflow: hidden;
}
.ellipsis2{
    .multi-ellipsis(2);
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.slide-left-enter-active,
.slide-right-enter-active {
  transition: transform .5s;
}

.slide-left-enter {
  transform: translateX(100%);
}

.slide-left-leave-active,
.slide-right-enter {
  transform: translateX(-100%);
}

.slide-right-leave-active {
  transform: translateX(100%);
}
ul{
    list-style: none;
}
img{
    width: 100%;
}